
/* IMPORT FONT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,200&family=Roboto:ital@1&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-secundary: 'Roboto', sans-serif;

 
// colores//
$color-primary:  #970d08;
$color-secundary: #dbdf10;



